.is_fixed {
  overflow: hidden;
}
.container {
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  .side {
    font-family: $english;
    display: none;
    height: 100vh;
    @include sm {
      display: block;
      width: 160px;
    }
    @include lg {
      width: 200px;
    }
    .sticky {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: calc(100% - 2rem);
      margin-top: 2rem;
      @include md {
        height: calc(100% - 4rem);
        margin-top: 4rem;
      }
      .side-logo {
        @include sm {
          width: 11rem;
          height: 11rem;
        }
        @include lg {
          width: 14rem;
          height: 14rem;
        }
        .logo-link {
          display: block;
          img {
            width: 100%;
          }
        }
        &:hover {
          opacity: .7;
          transition: .3s;
        }
      }
      .side-text {
        writing-mode: vertical-rl;
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        font-size: 1.2rem;
        font-size: 1.2rem;
        font-size: 1.2rem;
        letter-spacing: 0.3em;
        line-height: 2rem;
        padding: 1rem 0;
        @include md {
          font-size: 14px;
        }
      }
    }
  }
  .cmn-icon-list {
    display: flex;
    padding: 15px 0 27px;
    @include sm {
      justify-content: center;
      text-align: center;
      padding: 0 0 16px 0;
    }
    @include md {
      padding: 0 0 27px 0;
    }
    .cmn-icon-link {
      i {
        font-size: 30px;
        color: #fff;
        @include sm {
          color: #000;
          font-size: 24px;
        }
        &:hover {
          color: #C10305;
          transition: .3s;
        }
      }
      &:nth-child(n+2) {
        margin-left: 23px;
        @include sm {
          margin-left: 16px;
        }
      }
    }
  }
  .cmn-entry-btn {
    display: block;
    width: 200px;
    margin-bottom: 3rem;
    @include sm {
      width: 160px;
      margin-bottom: 0;
    }
    @include lg {
      width: 200px;
    }
    img {
      width: 100%;
      &:hover {
        opacity: 0.7;
        transition: 0.3s;
      }
    }
  }
  .cmn-link-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17rem;
    padding: 18px 15px;
    margin: 6rem auto 0;
    background-color: #C10305;
    @include sm {
      width: 20rem;
      padding: 2rem;
      margin: 7rem auto 0;
    }
    @include md {
      margin: 45px auto 0;
    }
    &.movies-btn {
      margin: 3rem auto 0;
      @include sm {
        margin: 45px auto 0;
      }
    }
    span {
      font-family: $english;
    }
    span, i {
      font-size: 14px;
      color: #fff;
      @include sm {
        font-size: 16px;
      }
    }
    &:hover {
      opacity: .7;
      transition: .3s;
    }
  }
  // main
  main {
    width: 100%;
    @include sm {
      width: calc(100% - 160px);
    }
    @include lg {
      width: calc(100% - 200px);
    }
    font-family: $english;
    .section-title {
      font-weight: bold;
      letter-spacing: 0.08em;
      font-size: 16px;
      border-left: thick solid black;
      padding-left: 1rem;
      margin-left: 1.5rem;
      @include sm {
        font-size: 2rem;
        padding-left: 1.2rem;
        margin-left: 2rem;
      }
      @include md {
        font-size: 3rem;
      }
    }
    section {
      margin: 6rem 0;
      letter-spacing: 1.5px;
      @include sm {
        margin: 8rem 0;
      }
      .contents {
        margin: 5rem auto;
        width: 34rem;
        padding: 0 1.5rem;
        @include xs {
          padding: 0 2rem;
          width: 40rem;
        }
        @include sm {
          max-width: 1100px;
          width: 100%;
        }
        @include md {
          margin: 8rem auto;
        }
        &.contact-reqruit-contents {
          width: auto;
          margin: 0 auto;
        }
      }
    }
  }
}
//mixin
@mixin mainvisual-box($color) {
  font-family: $english;
  color: white;
  // セクションタイトル(背景あり)
  .section-title {
    border-left: thick solid white;
    z-index: 11;
    position: absolute;
    top: 62%;
    @include xs {
      top: 68%;
    }
  }
  // 背景色重ね
  &::after {
    content: "";
    z-index: 10;
    opacity: 0.5;
    background-color: $color;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 49.5%;
    height: 50%;
    @include sm {
      height: 50%;
      top: 50%;
    }
    @include md {
      top: 48.7%;
      height: 21rem;
    }
    @include lg {
      top: 52.7%;
      height: 24rem;
    }
  }
}
@mixin mainvisual($url) {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url($url);
  position: relative;
  background-position: center;
  height: 25rem;
  @include xxs {
    height: 18rem;
  }
  @include xs {
    min-height: 26rem;
  }
  @include sm {
    height: 31rem;
  }
  @include md {
    height: 41rem;
  }
  @include lg {
    height: 51rem;
  }
}
// 背景文字共通クラス(左右)
.bg-text {
  position: absolute;
  margin-top: 2.6rem;
  color: #f7f7f7;
  font-size: 16vw;
  letter-spacing: 0.1em;
  @include sm {
    font-size: 9.6rem;
  }
  @include md {
    font-size: 14rem;
  }
  &.text-shamgod {
    margin-top: 3rem;
    @include sm {
      margin-top: 4rem;
    }
  }
  &.text-news,
  &.text-leader {
    margin-top: 8px;
  }
}
// 背景文字(右配置)
@mixin bg-text-even() {
  right: -1rem;
  top: 59%;
  top: 72%;
  font-size: 4.5rem;
  @include xxs {
    top: 54%;
    font-size: 6rem;
  }
  @include xs {
    top: 64%;
    font-size: 6.7rem;
  }
  @include sm {
    top: 70%;
    font-size: 6.6rem;
  }
  @include md {
    top: 70%;
    font-size: 10rem;
  }
  @include lg {
    top: 69%;
    font-size: 14rem;
  }
}