// color
$gray: #818181;
$dark-red: #8d2659;

// font-family
$english: "Alfa Slab One", cursive;
$japanese: "Noto Sans JP", sans-serif;

// レスポンシブ
$xxs: 360px;
$xs: 480px;
$sm: 768px;
$md: 960px;
$lg: 1200px;

@mixin xxs {
  @media (min-width: ($xxs)) {
    @content;
  }
}
@mixin xs {
  @media (min-width: ($xs)) {
    @content;
  }
}
@mixin sm {
  @media (min-width: ($sm)) {
    @content;
  }
}
@mixin md {
  @media (min-width: ($md)) {
    @content;
  }
}
@mixin lg {
  @media (min-width: ($lg)) {
    @content;
  }
}
